@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.navigation-letters {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.month, .date, .section-header {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.section-description, .section-description1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  


.logo {
    width: 223px;
    height: 58px;
    display: inline-block;
    vertical-align: middle; 
    margin: 30px 30px;
}

.navigation-letters {
    font-size: 24px;
    font-weight: bold;
    color:  #8D81FF;
    display: inline-block; 
    vertical-align: middle;
    margin: 30px 30px;
}

header, nav {
Display:inline-block;
}

.banner-container {
    text-align: center;
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
}


.info-container {
    margin-top: 100px;
}

.h2_news {
    width: 150px;
    height: 34px;
    font-weight: 700;
    color: #4E6FAE;
    font-size: 26px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 435px;
}

.line {
    width: 2px;
    height: 34px;
    display: inline-block;
    background: #5012D5;
    margin-right: 30px;
    vertical-align: middle;
}


.h2_info {
    width: 484px;
    height: 34px;
    font-weight: 400;
    color: #4E6FAE;
    font-size: 26px;
    display: inline-block;
    vertical-align: middle;
}

.container h2 {
    width: 307px;
    height: 24px;
    font-weight: 400;
    font-size: 20px;
    color: #3F4145;
    margin-bottom:  20px;

}

.container {
    background-color: #E7E7E7;
    width: 500px;
    height: 175px;
    margin-top: 50px;
    padding: 20px;
    margin-left: 434px;
    display: inline-block;
}

.container p {
    display: inline-block;
    width: 340px;
    vertical-align: middle;
    color: #7E8898;
}

.container img {
    margin-right: 20px;
    vertical-align: middle;
}

.container_1 {
    background-color: #E7E7E7;
    width: 500px;
    height: 175px;
    margin-top: 50px;
    padding: 20px;
    margin-left: 52px;
    display: inline-block;
}

.container_1 h2 {
    width: 307px;
    height: 24px;
    font-weight: 400;
    font-size: 20px;
    color: #3F4145;
    margin-bottom:  20px;
}

.container_1 p {
    display: inline-block;
    width: 340px;
    vertical-align: middle;
    color: #7E8898;
    vertical-align: middle;
}

.container_1 img {
    margin-right: 20px;
    vertical-align: middle;
}

.fb {
    width: 50px; 
    height: 50px;
    margin-left: 434px;
    margin-right: 30px;
 }
 
 .yt {
     width: 71px;
     height: 49px;
 }
 
 .line_1 {
     width: 2px;
     height: 48px;
     display: inline-block;
     background: #5012D5;
     margin-right: 30px;
 }

.footer-container {
    margin-top: 40px;
}

.main_color {
    color: #4E6FAE !important;
}

.date {
	width: 50px;
	height: 50px;
	background-color: #5012D5;
	font-size: 24px;
	color: #84FF81;
	display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.month {
	font-size: 24px;
	color: #8D81FF;
    margin-left: 30px;
    margin-top: 30px;
}

.section-header {
	font-size: 20px;
	font-weight: bold;
	color: #4E6FAE;
    margin-left: 30px;
    margin-top: 30px;
    
}

.section-description {
	font-size: 16px;
	color: #4E6FAE;  
    display: inline-block;
    width: 1000px;
        
}

.p2 {
    position: absolute;
    bottom: 425px;
}

.image_first {
    display: inline-block;
    margin: 30px;
    
}

.p22 {
    position: absolute;
    bottom: -40px;
}


.fb-1 {
    width: 50px; 
    height: 50px;
    margin-left: 30px;
    margin-right: 30px;
 }
 
 .yt-1 {
     width: 71px;
     height: 49px;
 }
 
 .line-1 {
     width: 2px;
     height: 48px;
     display: inline-block;
     background: #5012D5;
     margin-right: 30px;
 }

.footer-container-1 {
    margin-top: 40px;
}

.container_2 {
    background-color: #E7E7E7;
    width: 1920px;
    padding: 100px 30px;
}

.lighter {
    font-size: 20px;
    font-weight: 400;
    color: #7E8898;
  }

  .darker {
    font-size: 20px;
    font-weight: 400;
    color: #3F4145;
    margin-right: 100px;
  }

  .contact_info {
    font-size: 36px;
    font-weight: 700;
    color: #4E6FAE;
    display: inline-block;
  }



.fbb {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.linee {
    width: 2px;
    height: 48px;
    display: inline-block;
    background: #5012D5;
    margin-right: 30px;
}

.map {
    vertical-align: top;
}

.container_2 div{
    display: inline-block;
    vertical-align: top;
    margin-right: 150px;
}


.container_2 p {
    display: inline-block;
    margin-left: 50px;
    padding: 20px 0px;

}

.contact_info {
    display: block !important;
}

.section-description1 {
    font-size: 16px;
	color: #4E6FAE;
    margin-left: 30px;
}

